* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

html,
body {
  background-color: #333;
}
.find-container {
  width: 100%;
  max-width: 1600px;
  margin: 16px auto;
  height: 100%;
  display: flex;
}
/* 왼쪽 */
.left {
  width: 100%;
  max-width: 300px;
  flex-grow: 1;
}

.left-top {
  position: sticky;
  top: 10px;
}
.icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: sticky;
  top: 50px;
}

.icon > input {
  width: 100%;
  height: 50px;
}

.back-main {
  width: fit-content;
  padding: 1rem;
  font-size: 20px;
  background-color: white;
  margin-top: 1rem;
}
/* 오른쪽 */
.right {
  /* flex-grow: 1; */
}
.img-content img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.right-img {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 16px;
}
