* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 30px 60px; */
  background-color: #1b1b1b;

}
.mymain-container{
  margin: 130px auto 0;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}
p {
  color: white;
  font-size: 1rem;
}

.time {
  gap: 5px;
  color: white;
}

.fa-bell {
  /* position: relative;
  top: 60%;
  left: 60%; */
  color: white;
}

.ticket {
  /* position: relative; */
}

.fa-ticket {
  /* position: relative; */
  color: white;
  /* top: 60%; */
  /* left: 70%; */
}

.setting {
  position: relative;
}
.setting-del {
  color: white;
  width: 200px;
  position: absolute;
  top: 20px;
  left: 0;
}
.setting-info {
  color: white;
  width: 200px;
  position: absolute;
  top: 40px;
  left: 0;
}
.fa-gear {
  color: white;
  /* position: relative; */
  /* top: 60%;
  left: 80%; */
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.profileBox{
  display: flex;
  align-items: flex-end;
  gap:24px;
}
.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: white;
}

.profile-name{
  color:white;
  font-size: 32px;
}

.profile-information {
  /* padding: 20px; */
  color: white;
}

.film,
.person {
  /* padding: 10px; */
  /* position: relative; */
  color: white;
}

.bigBox1 {
  width: 80%;
  max-width: 1440px;
  display: flex;
  /* justify-content: center;
  margin: 0 auto; */
  gap: 20px;
}

.move-name {
  /* padding: 10px; */
  color: white;
  position: relative;
}

.move-name1 {
  width: 80%;
  max-width: 1440px;
  display: flex;
  /* justify-content: center;
  margin: 0 auto; */
  gap: 20px;
}

.fa-heart {
  color: white;
  /* padding: 10px; */
  /* position: relative; */
}

.moving {
  /* padding: 10px; */
  color: white;
  /* position: relative; */
}

.moving-item,
.life-item {
  width: 80%;
  max-width: 1440px;
  display: flex;
  /* justify-content: center;
  margin: 0 auto; */
  gap: 20px;
}

.img,
.svg,
.profile-information {
  cursor: pointer;
}

.svg {
  /* position: relative; */
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}
.set {
  display: none;
}

.popup-close {
  color: #ffffff;
}

a {
  color: #fff;
  text-decoration: none;
}
